<% title "List of admin users" %>

<% content_for :head do %>
  <%= javascript_include_tag "index_dataTables" %>
<% end %>

<table class="table table-bordered table-striped table-hover datatable" data-source="<%= admins_admins_url(format: "json") %>">
  <thead>
    <tr>
      <th>Email</th>
      <th>Sign in count</th>
      <th>Failed attempts</th>
      <th>Current sign in at</th>
      <th>Last sign in at</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<div class="form-actions">
  <%= link_to 'New admin', new_admins_admin_path, :class => 'btn btn-primary' %>
</div>
